# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# PHP
*.log

# Composer
vendor/
composer.lock

# Node (将来的な利用に備えて)
node_modules/
package-lock.json
yarn.lock
